<aside>
	<div class="container">
		<nav class="navbar">
			<div id="myNavbar">
				<ul>
					<li id="avatar"><a href="{{ site.url }}" class="myNavbar"><img src="/assets/img/myAvatar.png" height="15px"></a></li>
					<li><a href="#contact" class="myNavbar">Contact</a></li>
					<li><a href="#experience" class="myNavbar">Experience</a></li>
					<li><a href="#projects" class="myNavbar">Projects</a></li>
					<li><a href="#education">Education</a></li>
					<!-- <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li> -->
				</ul>
			</div>
		</nav>
	</div>
</aside>

<header>
	<div class="container" data-color="#1ABC9C">
			<div class="title">
				<h1><a href="{{ site.url }}">Jingwen<br>Low</a></h1>
			</div>

			<div class="description">
					<p class="bio">4th year Computer Science and Engineering student at University of California, Davis.<br>~ Expected graduation June 2019 ~<br>Currently a full stack developer at ASUCD Creative Media, looking for a full time job after graduation.</p>
					<br><a href="#contact"><button class="grow"><b>Contact</b></button></a>
			</div>
	</div>
</header>
